cardtable{
    border: 10px solid green;
    display:flex;
    justify-content:center
}
cardtable card {
    border: 5px solid salmon;
    border-radius: 10px;
    display: inline-block;
    height: 300px;
    width: 200px;
    background-size: cover;
}
/* Clubs */
card[suite="clubs"][rank="2"] {
        background-image: url('./images/2_of_clubs.png');
}
card[suite="clubs"][rank="3"] {
    background-image: url('./images/3_of_clubs.png');
}
card[suite="clubs"][rank="4"] {
    background-image: url('./images/4_of_clubs.png');
}
card[suite="clubs"][rank="5"] {
    background-image: url('./images/5_of_clubs.png');
}
card[suite="clubs"][rank="6"] {
    background-image: url('./images/6_of_clubs.png');
}
card[suite="clubs"][rank="7"] {
    background-image: url('./images/7_of_clubs.png');
}
card[suite="clubs"][rank="8"] {
    background-image: url('./images/8_of_clubs.png');
}
card[suite="clubs"][rank="9"] {
    background-image: url('./images/9_of_clubs.png');
}
card[suite="clubs"][rank="10"] {
    background-image: url('./images/10_of_clubs.png');
}
card[suite="clubs"][rank="jack"] {
    background-image: url('./images/jack_of_clubs.png');
}
card[suite="clubs"][rank="queen"] {
    background-image: url('./images/queen_of_clubs.png');
}
card[suite="clubs"][rank="king"] {
    background-image: url('./images/king_of_clubs.png');
}
card[suite="clubs"][rank="ace"] {
    background-image: url('./images/ace_of_clubs.png');
}

/* Spades */

card[suite="spades"][rank="2"] {
    background-image: url('./images/2_of_spades.png');
}
card[suite="spades"][rank="3"] {
background-image: url('./images/3_of_spades.png');
}
card[suite="spades"][rank="4"] {
background-image: url('./images/4_of_spades.png');
}
card[suite="spades"][rank="5"] {
background-image: url('./images/5_of_spades.png');
}
card[suite="spades"][rank="6"] {
background-image: url('./images/6_of_spades.png');
}
card[suite="spades"][rank="7"] {
background-image: url('./images/7_of_spades.png');
}
card[suite="spades"][rank="8"] {
background-image: url('./images/8_of_spades.png');
}
card[suite="spades"][rank="9"] {
background-image: url('./images/9_of_spades.png');
}
card[suite="spades"][rank="10"] {
background-image: url('./images/10_of_spades.png');
}
card[suite="spades"][rank="jack"] {
background-image: url('./images/jack_of_spades.png');
}
card[suite="spades"][rank="queen"] {
background-image: url('./images/queen_of_spades.png');
}
card[suite="spades"][rank="king"] {
background-image: url('./images/king_of_spades.png');
}
card[suite="spades"][rank="ace"] {
background-image: url('./images/ace_of_spades.png');
}

/* Hearts */

card[suite="hearts"][rank="2"] {
    background-image: url('./images/2_of_hearts.png');
}
card[suite="hearts"][rank="3"] {
background-image: url('./images/3_of_hearts.png');
}
card[suite="hearts"][rank="4"] {
background-image: url('./images/4_of_hearts.png');
}
card[suite="hearts"][rank="5"] {
background-image: url('./images/5_of_hearts.png');
}
card[suite="hearts"][rank="6"] {
background-image: url('./images/6_of_hearts.png');
}
card[suite="hearts"][rank="7"] {
background-image: url('./images/7_of_hearts.png');
}
card[suite="hearts"][rank="8"] {
background-image: url('./images/8_of_hearts.png');
}
card[suite="hearts"][rank="9"] {
background-image: url('./images/9_of_hearts.png');
}
card[suite="hearts"][rank="10"] {
background-image: url('./images/10_of_hearts.png');
}
card[suite="hearts"][rank="jack"] {
background-image: url('./images/jack_of_hearts.png');
}
card[suite="hearts"][rank="queen"] {
background-image: url('./images/queen_of_hearts.png');
}
card[suite="hearts"][rank="king"] {
background-image: url('./images/king_of_hearts.png');
}
card[suite="hearts"][rank="ace"] {
background-image: url('./images/ace_of_hearts.png');
}

/* Diamonds */

card[suite="diamonds"][rank="2"] {
    background-image: url('./images/2_of_diamonds.png');
}
card[suite="diamonds"][rank="3"] {
background-image: url('./images/3_of_diamonds.png');
}
card[suite="diamonds"][rank="4"] {
background-image: url('./images/4_of_diamonds.png');
}
card[suite="diamonds"][rank="5"] {
background-image: url('./images/5_of_diamonds.png');
}
card[suite="diamonds"][rank="6"] {
background-image: url('./images/6_of_diamonds.png');
}
card[suite="diamonds"][rank="7"] {
background-image: url('./images/7_of_diamonds.png');
}
card[suite="diamonds"][rank="8"] {
background-image: url('./images/8_of_diamonds.png');
}
card[suite="diamonds"][rank="9"] {
background-image: url('./images/9_of_diamonds.png');
}
card[suite="diamonds"][rank="10"] {
background-image: url('./images/10_of_diamonds.png');
}
card[suite="diamonds"][rank="jack"] {
background-image: url('./images/jack_of_diamonds.png');
}
card[suite="diamonds"][rank="queen"] {
background-image: url('./images/queen_of_diamonds.png');
}
card[suite="diamonds"][rank="king"] {
background-image: url('./images/king_of_diamonds.png');
}
card[suite="diamonds"][rank="ace"] {
background-image: url('./images/ace_of_diamonds.png');
}
card[suite=""][rank=""] {
    background-image: url('./images/card_back_red.png');
    }
card:not([suite]),
card:not([rank]) {
    background-image: url('./images/card_back_red.png')
}
